{:paths ["src"]
 :deps {ring/ring-core {:mvn/version "1.9.0"}}
 :aliases
 {:dev {:extra-deps {ring/ring-devel {:mvn/version "1.9.0"}
                     ring/ring-jetty-adapter {:mvn/version "1.9.0"}}
        :extra-paths ["dev"]}}}
