{:deps {function {:local/root "../function"}
        ring/ring-jetty-adapter {:mvn/version "1.7.1"}}
 :paths ["src" "classes"]
 :aliases {:depstar {:extra-deps {seancorfield/depstar {:mvn/version "0.1.5"}}}}}
