{:linters {:unused-public-var {:level :warning
                               :exclude #{function.core/app
                                          function.server/restart!
                                          build/uber}}}}
